:root {

  --market-column-height:calc( 100vh - 5rem );  /*Left, Center, Right*/
  --tab-height: 2rem;

  --table-head-height: 2.20rem;
  --scrollbar-width: .4rem;
  --border-bottom-height: .9rem; /*This is because of  border radiuses which should be taken into consideration*/
  


}



body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  
  /* background-color: #222; */
}

.text-sm-1 {
  font-size: .9rem;
}
.text-sm-2 {
  font-size: .75rem;
}
.text-sm-3 {
  font-size: .6rem;
}

.h-0 {
  height: 0 !important;
  font-size: 0 !important;
}

.scrollbar {
  /* position: relative; */
  /* height: 30vh !important; ON Components */
  overflow-y: scroll !important;
  /* display: inline-block; */
}
.scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background-color: #eee;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(78, 226, 219);
}

/* Navbar */
.navbar-collapse {
  justify-content: flex-end !important;
}
/* End of Navbar */


/* App Container */
#app-container {
  /* width: 100vw !important; */
  display:block;
  width: calc( 100vw - 1rem) ;
  min-height: calc( 100vh - 4rem );  /* Navbar 3.5rem footer: ~1.25rem */
  margin: auto;
  padding: 0;
}
/* End of App Container */


/* MARKET / LEFT SIDE */
#market-left-side {
  height: var(--market-column-height);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

/* For Home / Left Side / Prices / Tabs */
#market-left-side nav[role='tablist'] {
  height: var(--tab-height);
  display: flex;
  justify-content: center;
}
#market-left-side a[role='tab'] {
  position: relative;
  bottom: -0.5rem;
  width: 40%;
  padding:0.25rem;
  line-height: 1rem;
  height: 1.5rem;
  text-align: center;
  border-top-left-radius: .7rem !important;
  border-top-right-radius: .7rem !important;
  margin-right: 1rem;
}

#market-left-side div[role='tabpanel'] { 
  margin-right: 0 !important; /* Somehow this margin exists, and now it is 0! */
}

#market-left-side #orders-tab {
  height: calc( 100vh - 7.75rem  ) /*  100vh - 5rem:left side -2rem:tab buttons -.75rem: top+bottom padding of left side   */
}

#market-left-side #orders-tab #prices-sell {
  height: calc( (100vh - 7.75rem - 5rem) /2  ); /* 5rem for price explanation */
  border-radius: 1rem;
  padding-bottom: .5rem;
}
/* Table For Sell and Buy */
#market-left-side #orders-tab #prices-sell table {
  height: calc( (100vh - 7.75rem - 5rem)*0.5 - var(--border-bottom-height)  ); 
}
#market-left-side #orders-tab #prices-buy table {
  height: calc( (100vh - 7.75rem - 5rem)*0.5 - 2*var(--border-bottom-height)  ); 
}

#market-left-side #orders-tab  thead,
#market-left-side #orders-tab  thead tr,
#market-left-side #orders-tab  thead th {
  height: var(--table-head-height) !important; 
}
#market-left-side #orders-tab  table tbody,
#market-left-side #orders-tab  table thead {  
  display:block;
}
#market-left-side #orders-tab #prices-sell table tbody {
  overflow-y: scroll;
  height: calc( (100vh - 7.75rem - 5rem )*0.5 - var(--border-bottom-height) - var(--table-head-height)   ); 
}
#market-left-side #orders-tab #prices-buy table tbody {
  overflow-y: scroll;
  height: calc( (100vh - 7.75rem - 5rem )*0.5 - 2*var(--border-bottom-height) - var(--table-head-height) ) ; 
}
#market-left-side #orders-tab  table tr {
  display:block;
  width: 100%;
}
#market-left-side #orders-tab  table th {
  display:inline-block;
  width: calc( (100% )/3);
}
#market-left-side #orders-tab  table td {
  display:inline-block;
  width: calc( (100% )/3);
}
/*For opacities of Price Buy&Sell, lighter background IOS, Firefox, and Chrome*/
.price-item-background2 {
  opacity: 0.2;
  -moz-opacity: 0.2;
  -webkit-opacity: 0.2;
}
/* End of Table For Sell and Buy */

#market-left-side #orders-tab #prices-explanation {
  /* And 3 rem its height */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#market-left-side #orders-tab #prices-buy {
  /* height: XXX; Calculated at left side */
  padding-top: var(--border-bottom-height);
  border-radius: 1rem;
  display:flex ;
  flex-direction: row ;
  align-items: flex-end;
  padding-bottom: var(--border-bottom-height);
}
/* End of For Home / Left Side / Prices / Tabs */

/* End of MARKET / LEFT SIDE */


/*-----------------------MARKET CENTER------------------------------------*/
#market-center {
  height: var(--market-column-height);
  --graph-height:calc(

      2rem +  var(--table-head-height) +
     (100vh - 7.75rem - 5rem )*0.5 - var(--border-bottom-height) - var(--table-head-height) /*Table Body */
     
     );

  --buy-sell-bidding-height: 10.45rem;

}

#market-center #sized-graph {
  /*height: 2rem+*/
  /* height: calc( + 2rem +  var(--table-head-height) + var(--buy-table-body-height) ) !important; */
  /* height: calc(

      2rem +  var(--table-head-height) +
     (100vh - 7.75rem - 5rem )*0.5 - var(--border-bottom-height) - var(--table-head-height) 
     
     ) ; */
  height: calc(var(--graph-height) );
}

#market-center #buy-sell-bidding {
  height: var(--buy-sell-bidding-height);
}

#market-center #open-ord-trd-hist {
  --open-ord-trd-hist: calc(  var( --market-column-height) - var(--graph-height) - var(--buy-sell-bidding-height) - 1.25rem);
  height: var(--open-ord-trd-hist);     

}


/* Table For Sell and Buy */
#market-center #open-ord-trd-hist table {
  /* height: calc(var(--market-column-height)-(2rem +  var(--table-head-height)+(100vh - 7.75rem - 5rem )*0.5-var(--border-bottom-height) - var(--table-head-height) ) -14rem - 5px +50rem 
  )!important;  */
  height: calc( var(--open-ord-trd-hist) - 2rem - 5px );
}


#market-center #open-ord-trd-hist  table tbody {  
  display:block;
}
#market-center #open-ord-trd-hist table tbody {
  overflow-y: scroll;
  height: 100%; 
}

#market-center #open-ord-trd-hist  table tr {
  display:block;
  width: 100%;
}
#market-center #open-ord-trd-hist  table th {
  display:inline-block;
  width: calc( (100% )/3);
}
#market-center #open-ord-trd-hist  table td {
  display:inline-block;
  width: calc( (100% )/3);
}



/* Graph Height */



/*-----------------------End of MARKET CENTER------------------------------------*/


/* MARKET / RIGHT SIDE */
#market-right-side {
  height: var(--market-column-height);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

#market-right-side #markets-section {

  height: calc( (100vh - 7.75rem - 5rem) * 0.5 + var(--tab-height) );
  border-radius: 1rem;
  padding-bottom: .5rem;
  background-color: blueviolet;
}

#market-right-side #markets-section .market-header {
  display: block;
  height: var(--tab-height);
}
#market-right-side #markets-section span.market-header p  {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  position: relative;
  top: calc( var(--tab-height) - 1.5rem );  
}

